h3{
	font-size: 26px;
}

h4{
	font-size: 18px;
}

/* ESTILOS GENERALES */


/*HEADER*/

main{
	background-image: url("../../public/images/imagenFondo.jpg");
	background-size: cover;
	background-repeat: no-repeat;
    background-attachment: fixed;
}

header nav ul li a{
	background-color: black;
	color: white;
	letter-spacing: 1px;
	text-decoration: none;
	transition: 1s;
	
	
}

header nav ul li a:hover{
	background-color: grey;
	color: white;
	text-decoration: none;
}

h1{
	background-color: #00000090;
}
h1 span img{
	width: 60px;
}

h2 span img{
	width: 60px;
}

/*NOTICIA*/
section:nth-child(2){
	background-color: black;
	/*background-image: url("../img/casas.png");*/
	background-size: 200px 200px;
	background-position: right bottom;
	background-repeat: no-repeat;
}

section:nth-child(2) article span img{
	width: 150px;
}

.sobreMI{
    width: 50% !important;
}

h2{
	font-family: 'Sacramento', cursive;
	font-size: 50px;
	color: white;
}

section:nth-child(2) p{
	color:white;
}

/*FONDO PARALLAX*/

section:nth-child(3){
	/*background-image: url("../img/luces.jpg");*/
	background-size: cover;
	background-attachment: fixed;
	height: 150px;
}

section:nth-child(3) h2{
	background-color: #5e1d1e6f;
	height: 100%;
}

/*MAS VENDIDOS*/

section:nth-child(4) h2{
	color: black;
}

/*CONTACTO*/

section:nth-child(6){
	background-color: #edacad;
}

input[type="text"]{
	background-color: white;
	color: #c4383a;
	border:0;
}

input::placeholder{
	color: #c4383a;
}

input[type="submit"]{
	background-color: #edacad;
	border:2px solid white;
	color: white;
}

/* ULTIMA SECCION */

section:nth-child(5){
	/*background-image: url("../img/globos.jpg");*/
	background-size: cover;
	background-attachment: fixed;
	height: 150px;
}

/*FOOTER*/

footer{
	background-color: #212529;
    border-top: 2px solid white; 
}

footer ul li img{
	width: 38px;
	height: 38px;
}

footer ul li:nth-child(2){
	background-position: 0 38px;
}

footer ul li:nth-child(3){
	background-position: 0 86px;
}