
/* Motivacion.css */
.motivacion-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.motivacion-modal {
  z-index: 1000; 
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.motivacion-content {
  background: #22978de1;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  color: #FFFFFF;
  max-width: 450px;
  width: 80%;
  position: relative; 
}

.close-button {
  background: transparent;
  border: none;
  font-size: 1.5em;
  color: #FFFFFF;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}