.navbar-brand {
    color: white;
}
  
.nav-link {
    color: white;
}
  
.nav-link:hover {
    color: #aaa;
}
  
.fixed-top {
    background-color: black;
    border-bottom: 2px solid white; 
}

.navbar-logo {
    height: 40px; 
    margin-right: 10px; 
}

#pestañas_hamburguesa{
    text-align: left;
}

.offcanvas-body {
    display: flex;
    flex-direction: column;
}
  
  
.offcanvas-body .nav.flex-column.mt-auto {
    margin-top: auto;
}

.offcanvas-translucent-dark {
    background-color: rgba(0, 0, 0, 0.5) !important; /* negro con 50% de transparencia */
}

#boton_hamburguesa {
    background-color: black; 
    border-color: white; 
    transition: 1s;
}
  
#boton_hamburguesa:hover {
    background-color: grey; 
    border-color: white;
    transform: scale(1.1);
}